/* Global Styles */
html {
    height: 100%;
    background: linear-gradient(to bottom, #0e0e0b, #130e0e);
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(31, 29, 28, 0.966);
    box-shadow: 0 0 5px rgb(216, 8, 8);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header h1 {
    font: bold 24px/1 'Unbounded', cursive;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 40px;
}

header nav a {
    color: #ffaf01;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

header nav a:hover {
    color: #7c0b0b;
}

/* Main Content Styles */
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    text-align: left;
}

main h2 {
    font-size: 26px;
    margin-top: 0;
    color: #bebeba;
}

main p {
    font-size: 22px;
    margin-bottom: 30px;
}

/* Text Color Classes */
.red-text {color: #f00d0d;}
.white-text {color: #d8c8c8;}
.blue-text {color: #007bff;}
.green-text {color: #00a000;}
.pink-text {color: #f00596;}
.orange-text {color: #ff8000;}
.purple-text {color: #800080;}
.teal-text {color: #008080;}
.yellow-text {color: #ffff00;}
.brown-text {color: #8b4513;}
.OverRed-text {color: #741111;}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #444;
}

/* Project Name */
.project-name {
    color: #cdcec1dc;
}

/* Only Tab Project */
.project-table-container {
    max-height: 300px;
    overflow-y: auto;
    background-color: #313105;
    padding: 10px;
}

/* Primary Insider Keeps */
.cti {
    background-color: #800808;
    padding: 17px 30px;
    border: 3px solid transparent;
    border-radius: 0.6em;
    transition: 0.2s;
}

.cti:hover {
    background-color: transparent;
    border: 3px solid #bd1919;
    box-shadow: 0 0 27px 5px #bd1919;
}

.CTI {
    color: #fff;
    font: bold 20px/1 'Courier New', Courier, monospace;
    overflow: hidden;
    border-right: 4px solid transparent;
    white-space: nowrap;
    margin: 1190 auto;
}

.cti:hover .CTI {
    border-right: 4px solid #bd1919;
    animation: letters 1.75s steps(22, end), cursor .4s step-end infinite;
}

@keyframes letters {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes cursor {
    from {border-color: transparent;}
    50% {border-color: #e67519;}
}

/* Button Styles */
.animbutt {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    font-size: 18px;
    color: #ffcfcf;
    text-decoration: none;
    background-color: #242721;
    border-radius: 30px;
    border: 2px solid #8d1f0bfb;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.animbutt:hover {
    background-color: #e9d4d7;
    color: #7c0b0b;
}

.animbutt:active {
    background-color: #7c0b0b;
    color: #ffffff;
}

/* Insider Keeps Present */
.button.prestndinside {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.button.prestndinside {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #421b1bfb;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button.prestndinside:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 5px 23px var(--animation-color))
}

/* Download Project Button */
.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 7px 17px;
    background-color: #27272e;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
}

.buttonDownload:hover {
    background-color: #27272e;
    color: white;
}

.buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #ff7300;
}

.buttonDownload:hover:after {
    border-top-color: #f70303;
    animation-play-state: running;
}

@keyframes downloadArrow {
    0% {margin-top: -7px; opacity: 1;}
    0.001% {margin-top: -15px; opacity: 0.4;}
    50% {opacity: 1;}
    100% {margin-top: 0; opacity: 0.4;}
}

/* Ask - Answer Section */
.question-container {
    max-height: 325px;
    overflow-y: auto;
    background-color: #351c38;
    padding: 10px;
}

.answer {
    display: none;
    margin-top: 10px;
}

.question {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #219b546b;
    border-radius: 5px;
}

.question h3 {
    margin-top: 0;
}

.expand-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/* Information Button */
.information-button {
    display: inline-block;
    background-color: #156D5D;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.information-button:hover {
    background-color: #0F433E;
}

/* Intriguing Popup Window Styles */
.popup {
    display: none;
    position: absolute;
    width: 300px;
    background-color: #1C1A1A;
    border: 1px solid #2C0F4F;
    padding: 10px;
    z-index: 100;
}

/* FAQ Section */
header, main, footer {
    box-shadow: 0 2px 4px rgba(221, 1, 1, 0.863);
}

.question-container {
    perspective: 1000px;
}

.question {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.question:hover {
    transform: rotateX(10deg);
}

.expand-button {
    transition: background-color 0.5s;
}

.expand-button:hover {
    background-color: #ff0000;
}

.answer {
    opacity: 0;
    transition: opacity 0.5s;
}

.question:hover .answer {
    opacity: 1;
}